extends layout

block head

	script(src="https://code.jquery.com/jquery-3.5.0.js",
		integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=",
		crossorigin="anonymous")

block content
	p Welcome to #{title}

	form(action="/main", method="get")
		input(type="submit", value="Main page")

	input#getUsersB(type="submit", value="Get users")

	ul#users
	script(src="javascripts/getUsers.js")